@page
@model MascotaFeliz.App.Presentacion.Pages._RegistroClientesModel
@{
    ViewData["Title"] = "Registro Clientes";
}
<body>
    <div>
        <form class="form-register" method="post">
            <input type="hidden" asp-for="Cliente.Id"/>
            <h3>REGISTRAR CLIENTE</h3><br>
            <label asp-for="Cliente.idPersona">Cédula:</label><br>
            <input asp-for="Cliente.idPersona"type="text" class="controls" name="cedula"  placeholder="Ingrese su cédula" /><br><br>
            <label asp-for="Cliente.nombres">Nombre:</label><br>
            <input asp-for="Cliente.nombres"type="text" class="controls" name="nombre"  placeholder="Ingresa tu nombre" /><br><br>
            <label asp-for="Cliente.apellidos">Apellido:</label><br>
            <input asp-for="Cliente.apellidos" type="text" class="controls" name="apellido"  placeholder="Ingresa tu apellido" /><br><br>
            <label asp-for="Cliente.direccion">Dirección:</label><br>
            <input asp-for="Cliente.direccion" type="text" class="controls" name="DireccionCliente"  placeholder="Ingresa tu dirección" /><br><br>
            <label asp-for="Cliente.telefono">Teléfono:</label><br>
            <input asp-for="Cliente.telefono" type="text" class="controls" name="NumeroTelefono"  placeholder="Ingresa tu teléfono" /><br><br>
            <button class="btn btn-info" type="submit">Registrar Cliente</button>
            <p><a href="#">¿Ya estas registrado?</a></p>
        </form>
        <br><br>
        <div class="row">
            <div class="col-6" >
                <a asp-page="../Clientes/_AccesoClientes" class="btn btn-success"> Volver</a>
            </div>
        </div> 
           
    </div>
</body>

    

