@page
@model MascotaFeliz.App.Frontend.Pages._ListadoVeterinariosModel
@{
    ViewData["Title"] = "Listado Veterinarios";
}


<h1>
    Saludando en varios Idiomas
</h1>
<table class="table">
  
</table>
