@page
@model MascotaFeliz.App.Frontend.Pages.RegistroClientesModel
@{
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] = REGISTRAR CLIENTE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="fondo_veterinarios">
    <div>
        <form class="form-register">
            <h3>REGISTRAR CLIENTE</h3><br>
            <label for="nombre">Nombre:</label><br>
            <input class="controls" type="text" name="nombre" placeholder="Ingresa tu nombre" /><br><br>
            <label for="apellido">Apellido:</label><br>
            <input class="controls" type="text" name="apellido" placeholder="Ingresa tu apellido" /><br><br>
            <label for="direccion">Dirección:</label><br>
            <input class="controls" type="text" name="tarjetaProfesional" placeholder="Ingresa tu dirección" /><br><br>
            <label for="telefono">Teléfono:</label><br>
            <input class="controls" type="text" name="telefono" placeholder="Ingresa tu teléfono" /><br><br>

            <button class="botons" type="submit">Registrar datos</button>
            <p><a href="#">¿Ya estas registrado?</a></p>
        </form>
    </div>
</body>
